<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.enjoytoday.dynamiclib"
    tools:ignore="GradleOverrides">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
    </application>

</manifest>